<div class="container"> <!--contenedor principal-->
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--barra de navegacion-->
    <a class="navbar-brand" href="#">
      <img src="assets/images/angular.png" width="30" height="30" alt="">
      
      Konecta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" [routerLink]="['/ver-usuario']" >Usuarios</a>
        </li> 

        <li  class="nav-item" *ngFor="let category of categories">
          <a *ngIf="identity"  class="nav-link" href="#">{{category.name}}</a>
        </li> 

      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity" >
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>          
        </li> 
      </ul>


      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <li class="nav-item dropdown">
          <div *ngIf="identity.role == 'ROLE_USER'">
            Bienvenido Cliente
          </div>
          <div *ngIf="identity.role == 'ROLE_ADMIN'">
            Bienvenido Administrador
          </div>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">        
            {{identity.name + ' '+ identity.surname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav> <!--cerrar barra de navegacion-->

  <!-- contenido -->
<router-outlet></router-outlet>

</div>