<div class="loading" *ngIf="!posts">
  Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="posts && identity">
  <h1>{{page_title}}</h1>
  <hr> 

  <div class="card-columns">
   
    <article class="card w-100" *ngFor="let post of posts">

      <div class="card-header">
        <a [routerLink]="['/inicio'] "> {{post.title}} </a>
      </div>  

    
      <div class="card-body">
        <div class="post-image w-100" *ngIf="post.image">
          <img src="{{ url + 'post/image/' + post.image }}" alt="" class="w-100">
        </div>

        <div class="post-image w-100" *ngIf="!post.image">
          <img src="assets/images/default.png" alt="" class="w-100">
        </div>

        <div class="post-buttons mt-3 ">
          <!-- <a [routerLink]="['/inicio']" class="btn btn-success mr-2" >Leer</a> -->
          <!-- Button trigger modal -->
          <a [routerLink]="['/inicio']"  (click)="getPosts2(7)" class="btn btn-success mr-2"data-toggle="modal" data-target="#exampleModalCenter">
            Leer
          </a>
          <span *ngIf="identity.sub == post.user_id || identity.role =='ROLE_ADMIN'">
            <a [routerLink]="['/inicio']" class="btn btn-secondary mr-2">Editar</a>
            <a [routerLink]="['/inicio']" class="btn btn-danger">Borrar</a>
          </span>
        </div>
      </div>

    </article>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="containers" *ngIf="!identity">
  <img src="assets/images/Konecta.png" width="100%" height="100%" alt="">
</div>