/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 
.card-header a{
   color: #444 
}


.post-image{
    height: 200px;
    overflow: hidden;
}