<div class="container" *ngIf="identity">
    <h2>Inicio</h2>
    <p>Usuarios</p>
    
      <div  *ngIf="user[3]">
        <mat-paginator [length]="user[3]?.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
        <table class="table" >
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
              <th scope="col" *ngIf="identity.role == 'ROLE_ADMIN'">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of user[3] | paginate: page_size:page_number" >
              <td > {{ n?.name }}</td>
              <td > {{ n?.surname }}</td>
              <td > {{ n?.email }}</td>
              <td class="btn btn-success" *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/ajustes']" >Editar</td>
              <td class="btn btn-danger ml-2" *ngIf="identity.role == 'ROLE_ADMIN'">Eliminar</td> 
            </tr>
    
          </tbody>
        </table>
      </div>
    </div>
    
  