<div class="col-md-12 mt-3">
    <h2>{{page_title}}</h2>

    <p>
        Añade un nuevo artículo al blog
    </p>
    <hr>
    

    <div class="alert alert-success  mt-3" *ngIf="status == 'success'">
        Los datos se han guardado correctamente
    </div>
    
    <div class="alert alert-danger  mt-3" *ngIf="status == 'error'">
        Los datos no se han guardado, verifica que hayas completado toda la información de manera correcta incluyendo la imagen
    </div>

    <!-- Formulario -->
    <form class=" ml-0 pl-0" #postNew="ngForm" (ngSubmit)="onSubmit(postNew)">

         <div class="form-group">
            <label for="title"> Título </label>
            <input type="text" name="title" class="form-control" #name="ngModel" [(ngModel)]="post.title" required />
<!--             
            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block" >
                El título no es válido
            </small> -->
            
        </div>
        

        <div class="form-group">
            <label for="content"> Contenido </label>
            <textarea name="content" #content="ngModel" [(ngModel)]="post.content" class="form-control" required> </textarea>

            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                El contenido no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="category_id"> Categoría </label>
            <select name="category_id" #category="ngModel" [(ngModel)]="post.category_id" class="form-control">
                <option *ngFor="let category of categories" value="{{category.id}}">
                    {{category.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="image"> Imagen</label>
            <angular-file-uploader 
                [config]="afuConfig"
                (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
        </div>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="postNew.invalid" /> 
    </form> 

</div>
